<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asmcc {{name}}</title>

    <link rel="stylesheet" href="//unpkg.com/@highlightjs/cdn-assets@11.7.0/styles/github.min.css">
    <script src="//unpkg.com/@highlightjs/cdn-assets@11.7.0/highlight.min.js"></script>
    <script>
        hljs.configure({
            noHighlightRe: /^do-not-highlightme$/i,
        });
    </script>
    <script>hljs.highlightAll();</script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="text-sm p-2">
    <h1 class="text-2xl  w-full mb-4">Anaylzer: {{name}}.wasm </h1>
    <div class="flex justify-evenly">
        <pre class="p-4 overflow-scroll border-2"><code>{{dump}}</code></pre>
        <pre class="p-4 overflow-scroll border-2"><code>{{debug}}</code></pre>
        <pre class="p-4 overflow-scroll border-2 do-not-highlightme"><code>{{hex}}</code></pre>
        <pre class="p-4 overflow-scroll border-2"><code>{{wat}}</code></pre>
    </div>
</body>

</html>
